.button {
    background-color: #202020;
    border: none;
    padding: 10px;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: bold;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    border: 1px solid #202020;
    color: #202020;
    background-color: #f1f1f1;
}

.button:disabled {
    background-color: #888;
    cursor: not-allowed;
}